@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&display=swap&subset=latin-ext" rel="stylesheet');

body{
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    background-color: #C13314;
}

header {
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.red-container {
    text-align: center;
    padding: .8em 1.2em;
    background-color: #C13314;
}

.gray-container {
    text-align: center;
    padding: .8em 1.2em;
    background-color: gray;
    border-radius: 25px;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

.doc {
    position: inherit;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 900px;
    overflow: inherit;
    scroll-padding-inline-start: yes;
    border-radius: 25px;
}


.photo1 {
    width: 20%;
}

.hide-mobile {
    display: none;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em; 
    background-color: rgb(49,55,59);
}

nav ul li a:hover {
    background-color: rgb(65,73,78);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {

    .cta {
        width: 50%;
    }

    .red-container {
        width: 80%;
        margin: 0 auto;
    }

    .doc{
        width: 100%;
        height: 1024px;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }


    nav ul li a  {
        color: black;
        background-color: inherit;
        text-align: left;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    
}